@import '../../Assets/main';

.front_trending {
  @include flex(100%, 37vh,center, none, column);
  gap: 1rem;
  border-bottom: solid $light-color 1px;
  .trending {
    font-size: 1.15rem; 
    @include flex(none, none, none, center, none);
    gap: 0.5rem;
    padding-left: 20rem;
  }
  .card {
    @include flex(70%, 25vh, none, none, none);
    gap: 3rem;
    padding-left: 20rem;
    flex-wrap: wrap;
  }

  }
