@import '../../Assets/main';

.blog_and_discover{
  @include flex(100%,none,center,space-around,none);
   padding-top: 3rem;
}
.card_img{
  @include flex(100%,none,space-around,none,none);
}
.blog_container{
  
@include flex(60%,none,none,space-around,column);
gap:1rem;
}
.discover_section{
  @include flex(22%,none,none,space-around,column);
  gap:1rem;
}
h4{
  padding-left: 1rem;
}
.discover_btn{
  flex-wrap: wrap;
  gap:0.5rem;
  @include flex(100%,none,space-around,none,none);
}
